# EditorConfig is awesome: http://editorconfig.org/

# This is a top-most EditorConfig file.
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

[*.cs]
indent_size = 4